@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600&display=swap");

* {
  font-family: "Fira Code", monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: #0d1117;
}

a {
  text-decoration: none;
  text-decoration-color: none;
  color: #0d1117;
}

#content {
  padding: 35px;
  margin: 0 auto;
  margin-top: 10px;
  margin-left: 24%;
  width: 75%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 7px;
}
