@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600&display=swap");

* {
  font-family: "Fira Code", monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: white;
}

a {
  text-decoration: none;
  text-decoration-color: none;
  color: aliceblue;
}

#content {
  padding: 35px;
  position: fixed;
  margin: 0 auto;
  margin-left: 20%;
  height: 100%;
  width: 80%;
}
