.sidebar {
  padding: 5px;
  position: fixed;
  margin-left: 15px;
  left: 0;
  width: 22%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 10px;
}

.sidebar .logo-details {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sidebar .logo-details .logo-name {
  font-size: 22px;
  color: #d1cfcc;
  font-weight: 600;
  cursor: pointer;
}

#line {
  height: 12px;
  width: 100%;
}

.sidebar .nav-links {
  padding-top: 10px;
  height: 100%;
  max-height: 400px; /* Define la altura máxima para la lista */
  overflow-y: auto;
}

.sidebar .nav-links li {
  list-style: none;
  padding-top: 10px;
  cursor: pointer;
}

.sidebar .nav-links li .link_name {
  font-size: 15px;
  color: #d1cfcc;
}

.sidebar .nav-links li :hover {
  padding: 5px 3px 5px 3px;
  background-color: #d1cfcc;
  color: #0d1117;
  border-radius: 5px;
}

.sidebar .nav-links .message {
  font-size: 13px;
}

.sidebar hr {
  padding: auto;
}

.algorithm-filter {
  text-align: center;
  padding-left: 10px;
  height: 30px;
  width: 90%;
  background-color: #0d1117;
  border-radius: 5px;
  border: #555 solid 2px;
  font-size: 15px;
  color: #d1cfcc;
}

/* Scroll of nav-links styles */
.nav-links::-webkit-scrollbar {
  width: 6px; /* Ancho de la barra de desplazamiento vertical */
}

.nav-links::-webkit-scrollbar-thumb {
  background-color: #555; /* Color del pulgar de la barra de desplazamiento */
  border-radius: 5px; /* Bordes redondeados del pulgar de la barra de desplazamiento */
}

.nav-links::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color del pulgar de la barra de desplazamiento al pasar el mouse por encima */
}

.nav-links::-webkit-scrollbar-track {
  background-color: #0d1117; /* Color de la pista de la barra de desplazamiento */
  border: #555 solid 0.02px;
  border-radius: 5px; /* Bordes redondeados de la pista de la barra de desplazamiento */
}
